@import url('./global.css');

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav-header ul{
    display: flex;
    gap: 40px;.main{
        display: flex;justify-content: center;
        align-items: center;
    }
    list-style: none;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    align-items: center;
    gap: 16px;    
}

.btn-login{
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-primary{
    background-color: var(--color-green);
    padding: 10px 24px;
    border-radius: 40px;
    color: #000;
    font-family: var(--font-family-alexandria);
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;

}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.content-main span{
    display: flex;
    align-self: self-start;  /*para deixar o botao do tamanho do texto*/
    gap: 8px;
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 10px 12px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);

    
}

h1{
    color: var(--color-white);
    font-size: var(--font-size-title1);
    width: 521px;
    font-family: var(--font-family-alexandria);

}

.content-main p {
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    width: 583px;

}

.container-btn-main{
    display: flex;
    gap: 20px;

}

.btn-green{
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000000;
    text-decoration: none;
    font-family: var(--font-family-alexandria);

}

.btn-secondary{
    display: flex;
    gap: 6px;
    padding: 14px 24px;
    border: 1px solid var(--color-gray2);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);

}

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--color-gray4);
    padding: 40px 0;

}

.section-partners h2{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.container-images-partners{
    display: flex;
    gap: 50px;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding: 60px ;

}

.content-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.content-breakdown span {
    color: var(--color-green);
    border: 1px solid color var(--color-gray3) ;
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
}

.content-breakdown h2{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    width: 400;
    color: var(--color-white);


}

.content-breakdown p{
    font-family: var(--font-family-inter);
    color: var(--color-gray1);
    width: 572px;
    text-align: center;

}

.container-card-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px ;
    background-color: #ffffff04;
    border-radius: 12px;

}

.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

}

.card-breakdown div h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;

}

.card-breakdown div p{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    width: 338;

}


.section-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--color-gray4);
    padding: 60px 0px;



}

.content-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.content-statistics span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 20px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);


}

.content-statistics h2{

    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    font-weight: 400;
}

.content-statistics p{
    color: var(--color-gray1);
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
    width: 644px;
    text-align: center;
    line-height: 140%;
}

.container-number-statistics{
    display: flex;
    justify-content: center;
    gap: 72px;
}

.number-statistics{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.number-statistics h3{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    color: var(--color-green);
    font-weight: 400;

}

.number-statistics p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
}

.section-revolutinary{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 60px 0 ;
}

.section-revolutinary span{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
    font-size: var(--font-size-text2);

}

.section-revolutinary h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    width: 400;
    text-transform: capitalize;
    width: 878px;
    text-align: center;

}

.section-revolutinary p{
    counter-reset: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    width: 644px;
    text-align: center;

    
}


.section-revolutinary a{
    background-color: var(--color-green);
    padding: 14px 24px;
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    color: #000;


}

footer{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 126px;
}

.container-navigation-footer{

    display: flex;
    gap: 92px;
    align-items: flex-start;

}

.footer-navigation-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-navigation-item h2{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;

}

.navigation-item ul {
    display: flex;

    flex-direction: column;
    gap: 8px;
    list-style: none;
    

}

.navigation-item ul li a{
    color: var(--color-gray1);
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);
    text-decoration: none;
}


.footer-updates{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-updates h2{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
    width: 198px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray1);
    padding-bottom: 16px;


}

form input{
    padding: 12px 5px;
    background-color: transparent;
    color: var(--color-white);
    outline: none; /*tira a borda*/


}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    border-radius: 100%;
    padding: 10px;

}

.form button:hover{
    background-color: #008e00;
}

